# Bengkel Config
VITE_BENGKEL_NAMA="BENGKEL PUTRA MOTOR"
VITE_BENGKEL_ALAMAT="Jl. Contoh Alamat Bengkel"
VITE_BENGKEL_TELEPON="0812-3456-7890"

# API
VITE_API_URL="/api/v1"

# WebSocket (Laravel Reverb)
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http