# Bengkel Config
VITE_BENGKEL_NAMA=
VITE_BENGKEL_ALAMAT=
VITE_BENGKEL_TELEPON=

# API
VITE_API_URL="/api/v1"

# WebSocket (Laravel Reverb)
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=
VITE_REVERB_PORT=
VITE_REVERB_SCHEME=